@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap');

* {
  font-family: Montserrat;
}

h1 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

h2 {
  margin-top: 7vh;
  margin-bottom: 3vh;
}

.body-container {
  width: 102%;
  height: 100vh;
}

.summary-container {
  border-right: grey solid 1px;
  width: 100%;
  height: 100%;
  padding-left: 2vw;
  padding-top: 3vh;
}

#summary-title {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
}

.summary-container a {
  color: black;
  font-size: 1.3em;
}

.summary-container ul {
  list-style: none;
}

.summary-container li {
  margin-top: 1vh;
}

.main-container {
  width: 102%;
  height: 100%;
  padding-left: 5vw;
  padding-top: 4vh;
}
