@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #f4f6fe;
}

.header-container {
  background-color: #2b394d;
  width: 102%;
  height: 12vh;
  visibility: visible;
}

.header-container label {
  font-family: Montserrat;
  color: white;
}

.header-container a {
  font-family: Montserrat;
  color: white;
}

.header-container a:hover {
  text-decoration: none;
}

.title-container {
  padding-top: 2vh;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

.menuLabel-container {
  padding-top: 3.5vh;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.menuLabel-container:hover {
  background-color: #496183;
  cursor: pointer;
}

.fa-gamepad {
  margin-left: 0.8vw;
  color: white;
  font-size: 30px;
}

.fa-book {
  margin-left: 0.8vw;
  color: white;
  font-size: 30px;
}

.fa-id-badge {
  margin-left: 0.8vw;
  color: white;
  font-size: 30px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#logo {
  width: 170px;
  height: 75px;
}


#inputFile1 + label {
  margin-top: 66vh;
  margin-left: 27.8vw;
  width: 380px;
  height: 86px;
}


#inputFile2 + label {
  margin-top: 57.4vh;
  margin-left: 0vw;
  width: 800px;
  height: 83px;
}


#canvas {
  width: 1400px;
  height: 700px;
}

#canvasTmp {
  /* width: 1400px;
  height: 700px; */
  visibility: hidden;
}


/* Responsive intermediaire */
@media only screen and (max-device-width: 1400px) {
  #canvas {
    width: 640px;
    height: 400px;
  }

  #canvasTmp {
    width: 640px;
    height: 300px;
  }

  .header-container {
    width: 110%;
  }

  .title-container {
    width: 100px;
  }

  #logo {
    width: 65px;
    height: 30px;
  }

  .fa-gamepad {
    margin-left: 0.8vw;
    color: white;
    font-size: 0px;
  }

  .fa-book {
    margin-left: 0.8vw;
    color: white;
    font-size: 0px;
  }

  .fa-id-badge {
    margin-left: 0.8vw;
    color: white;
    font-size: 0px;
  }

  .menuLabel-container {
    width: 90px;
    padding-top: 5vh;
    font-size: 0.5em;
    font-weight: 400;
    text-align: center;
  }

  #inputFile1 + label {
    margin-top: 326px;
    margin-left: 213px;
    width: 174px;
    height: 48px;
  }


  #inputFile2 + label {
    margin-top: 284px;
    margin-left: 0vw;
    width: 367px;
    height: 48px;
  }
}


/* Responsive mobile */
@media only screen and (max-device-width: 600px) and (max-device-height: 850px) {
  #canvas {
    width: 320px;
    height: 200px;
  }

  #canvasTmp {
    width: 320px;
    height: 210px;
  }

  .header-container {
    width: 110%;
    visibility: hidden;
  }

  .title-container {
    width: 100px;
  }

  #logo {
    width: 65px;
    height: 30px;
  }

  .fa-gamepad {
    margin-left: 0.8vw;
    color: white;
    font-size: 0px;
  }

  .fa-book {
    margin-left: 0.8vw;
    color: white;
    font-size: 0px;
  }

  .fa-id-badge {
    margin-left: 0.8vw;
    color: white;
    font-size: 0px;
  }

  .menuLabel-container {
    width: 90px;
    padding-top: 5vh;
    font-size: 0.5em;
    font-weight: 400;
    text-align: center;
  }

  #inputFile1 + label {
    margin-top: 165px;
    margin-left: 105px;
    width: 87px;
    height: 26px;
  }


  #inputFile2 + label {
    margin-top: 145px;
    margin-left: 0vw;
    width: 183px;
    height: 25px;
  }
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: 'assets/font/Apple_SD_Gothic Neo_Bold.ttf';
}
